<% @title = "Panthéon personnel de... #{@user}" %>
<%= content_for :title, @title %>
<p class="mt-5 small text-center">Panthéon personnel de...</p>
<h1 class="mb-3"><%= @user %></h1>

<div class="text-center mb-5">
    <%= social_share_button_tag(@title, url: user_path(@user), desc: "Découvrez le Panthéon personnel de #{@user}") %>
</div>

<%= render 'personalities/search' if @user == current_user %>

<%= render 'users/personalities', choices: @user.choices, user: @user %>

<%= link_to 'Déconnexion',
            destroy_user_session_path,
            method: :delete,
            class: 'btn btn-light btn-sm mb-3' if @user == current_user %>